body {
	margin: 0;
	padding: 0;
	background: #FFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #A19D9A;
}

h1, h2, h3 {
	font-weight: normal;
	color: #3E3530;
}

a {
	text-decoration: none;
	color: #3E3530;
}

legend {
	color:#FFF;
	background: #640000;
	border: 1px solid #781351;
	padding: 3px 8px;
}

fieldset
{
	border: 1px solid #666;
	background:#CCC;
	width: 300px;
	color:#000;
	padding:10px 20px;
}

#header-wrapper {
	width:100%;
	position:fixed;
	background: #003;
}

#header {
	height:120px;
	background:#003;
	width:100%;
	margin:0px auto;
	border-bottom: 10px solid #C29C03;
}

/* Logo */

#logoimg{
	float:left;
	width:100px;
	height:50px;
	margin-top:15px;
	padding:0;
	margin-left:20px;
	margin-right:10px;
}

#logo1 {
	float:left;
	width:180px;
	margin-top:48px;
	margin-left:60px;
	background: #003;
}

#logo2 {
	float:left;
	width:450px;
	margin-top:30px;
	margin-left:180px;
	padding: 0;
	background: #003;
	font-size:18px;
}

#signin {
	position:relative;
	float:left;
	margin-top:-60px;
	margin-left:1220px;
	padding:1px;
	background:#C29C03;
}

#content-wrapper {
	width:100%;
	height:591px;
	background-color:#FFF;
	padding-bottom:100px;
}

#content-pane {
	position:fixed;
	margin-top:130px;
	margin-bottom:40px;
	width:160px;
	height:100%;
	border-right:double;
	padding-left:20px;
	padding-right:30px;
	float:left;
	background-color:#FFC;
}

#qlink {
	font-family:Arial, Helvetica, sans-serif;
	padding-left:45px;
	font-size:14px;
	color:#666;
	border-bottom:dotted;
	padding-bottom:5px;
	padding-top:8px;
}

#link-options ul {
	margin-top:20px;
	margin-left:-20px;
}

#link-options ul li {
	list-style-type:none;
	margin-top:10px;
	margin-bottom:2px;
	color:#999;
}

#link-options ul li a:hover {
	list-style-type:none;
	text-decoration:underline;
	margin-top:5px;
	color:#003;
}

#main-body {
	float:left;
	margin-left:250px;
	margin-right:30px;
}

#formid {
	margin-top:160px;
	margin-bottom:-220px;
	color:#555;
	padding:5px;
}

#formid a {
	margin-top:-72px;
	margin-left:190px;
	float:left;
	color:#222;
	padding:5px;
	width:120px;
	text-align:center;
}

#formid a:hover {
	color:#111;
	text-decoration:underline;
	font-weight:800px;
	background:#B7DBFF;
	padding:5px;
}


#form1 legend {
	color:#000;
	background: #CCC;
	padding: 3px 8px;
	border:1px solid #000;
}

#form1 fieldset {
	margin-left:-200px;
	border: 2px solid #888;
	background:#CCC;
	width: 900px;
	color:#000;
	padding:10px 20px;
}

#form2 legend {
	color:#000;
	background: #CCC;
	padding: 3px 8px;
	border:1px solid #000;
}

#form2 fieldset {
	margin-left:-200px;
	border: 2px solid #888;
	background:#CCC;
	width: 900px;
	color:#000;
	padding:10px 20px;
}

#note h2 {
	float:left;
	margin-top:150px;
	word-spacing:2px;
	text-transform:uppercase;
	color:#000;
}

#forgot {
	margin-left:90px;
	margin-top:-18px;
}

#main-body p {
	margin-top:200px;
	font-size:16px;
	font-weight:bold;
	font-family:"Courier New", Courier, monospace;
	color:#777;
	text-align:justify;
}

#main-body dt {
	color:#000;
	word-spacing:2px;
	text-align:justify;
	font-size:13px;
	font-weight:600;
}

#main-body dd {
	margin-top:5px;
	color:#444;
	word-spacing:2px;
	text-align:justify;
}

#main-body form {
	margin-top:200px;
	margin-left:250px;
}

#main-body form a:hover {
	text-decoration:underline;
	color:#039;
}

#permissions {
	margin-top:250px;
}

#permissions fieldset {
	width:450px;
	height:80px;
}

#permissions form img {
	margin-left:13px;
	margin-right:13px;
}

#logo h1, #logo p {
	margin: 0;
	padding: 0;
	letter-spacing: -1px;
	font-size:3.8em;
}

/* Footer */

#footer-wrapper {
	page-break-before:always;
	z-index:-1;
	vertical-align:bottom;
	width:100%;
	height:40px;
	margin-top:150px;
}

#footer {
	height: 25px;
	margin-left:180px;
	padding: 13px 0 5px 0;
	background: #D8D8D8;
	border-top: 1px solid #BBB;
	font-family: Arial, Helvetica, sans-serif;
	color:#666;
}