body {
	margin: 0;
	padding: 0;
	background: #F8F5EC;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #A19D9A;
}

h1, h2, h3 {
	font-weight: normal;
	color: #3E3530;
}

a {
	text-decoration: none;
	color: #3E3530;
}

legend {
	color:#FFF;
	background: #640000;
	border: 1px solid #781351;
	padding: 3px 8px;
}

fieldset
{
	border: 1px solid #666;
	background:#CCC;
	width: 300px;
	color:#000;
	padding:10px 20px;
}

#header-wrapper {
	width:100%;
	position:fixed;
	background: #003;
}

#header {
	height:120px;
	background:#003;
	width:100%;
	margin:0px auto;
	border-bottom: 10px solid #C29C03;
}

/* Logo */

#logoimg{
	float:left;
	width:100;
	height:50;
	margin-top:15;
	padding:0;
	margin-left:20;
	margin-right:10;
}

#logo1 {
	float:left;
	width:180;
	margin-top:48;
	margin-left:60;
	background: #003;
}

#logo2 {
	float:left;
	width:450;
	margin-top:30;
	margin-left:180;
	padding: 0;
	background: #003;
	font-size:18px;
}

#signin {
	position:relative;
	float:left;
	margin-top:-60;
	margin-left:1220;
	padding:1;
	background:#C29C03;
}

#content-wrapper {
	width:100%;
	height:591;
	background-color:#FFF;
}

#content-pane {
	position:fixed;
	margin-top:132;
	margin-bottom:40px;
	width:160px;
	height:510;
	border-right:double;
	padding-left:20;
	padding-right:30;
	float:left;
	background-color:#FFC;
}

#qlink {
	font-family:Arial, Helvetica, sans-serif;
	padding-left:45;
	font-size:14px;
	color:#666;
	border-bottom:dotted;
	padding-bottom:5;
	padding-top:8;
}

#link-options ul {
	margin-top:20;
	margin-left:-20;
}

#link-options ul li {
	list-style-type:none;
	margin-top:10px;
	margin-bottom:2px;
	color:#999;
}

#link-options ul li a:hover {
	list-style-type:none;
	text-decoration:underline;
	margin-top:5;
	color:#003;
}

#main-body {
	float:left;
	margin-left:250;
	margin-right:30px;
}

#note h2 {
	float:left;
	margin-top:150;
	word-spacing:2px;
	text-transform:uppercase;
	color:#000;
}

#forgot {
	margin-left:90px;
	margin-top:-18px;
}

#main-body p {
	margin-top:200;
	font-size:16;
	font-weight:bold;
	font-family:"Courier New", Courier, monospace;
	color:#777;
	text-align:justify;
}

#main-body form {
	margin-top:200;
	margin-left:250;
}

#main-body form a:hover {
	text-decoration:underline;
	color:#039;
}

#permissions {
	margin-top:250px;
}

#permissions fieldset {
	width:450px;
	height:80px;
}

#permissions form img {
	margin-left:13px;
	margin-right:13px;
}

#logo h1, #logo p {
	margin: 0;
	padding: 0;
	letter-spacing: -1px;
	font-size:3.8em;
}

#sidebar {
	float: right;
	position:relative;
	width: 450px;
	margin-top:130;
	padding: 20px 0px;
	color: #787878;
}

#sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#sidebar li {
	margin: 0;
	padding: 0;
}

#sidebar a {
	border: none;
	color: #A19D9A;
}

#sidebar a:hover {
	text-decoration: underline;
	color: #8A8A8A;
}

/* Footer */

#footer-wrapper {
	width:100%;
	height:40px;
	margin-top:5ps;
}

#footer {
	height: 25px;
	margin-left:150px;
	padding: 13px 0 5px 0;
	background: #D8D8D8;
	border-top: 1px solid #BBB;
	font-family: Arial, Helvetica, sans-serif;
	color:#666;
}