body {
	margin: 0;
	padding: 0;
	background: #F8F5EC;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #A19D9A;
}

h1, h2, h3 {
	font-weight: normal;
	color: #3E3530;
}

a {
	text-decoration: none;
	color: #3E3530;
}

a:hover {
}

#header-wrapper {
	width:100%;
	position:fixed;
	background: #003;
}

#header {
	height:120px;
	background:#003;
	width:100%;
	margin:0px auto;
	border-bottom: 10px solid #C29C03;
}

/* Logo */

#logoimg{
	float:left;
	width:100;
	height:50;
	margin-top:10;
	padding:0;
	margin-left:20;
	margin-right:10;
}

#logo1 {
	float:left;
	width:120;
	margin-top:48;
	margin-left:50;
	background: #003;
}

#logo2 {
	float:left;
	width:400;
	margin-top:30;
	margin-left:160;
	padding: 0;
	background: #003;
	font-size:18px;
}

#signout {
	position:relative;
	float:left;
	margin-top:-55;
	margin-left:1200;
	padding:1;
	background:#C29C03;
}

#content-wrapper {
	width:100%;
	height:950;
	background-color:#FFC
}

#content-pane {
	position:fixed;
	margin-top:132;
	margin-bottom:40px;
	width:160px;
	height:870;
	border-right:double;
	padding-left:20;
	padding-right:30;
	float:left;
}

#qlink {
	font-family:Arial, Helvetica, sans-serif;
	padding-left:45;
	font-size:14px;
	color:#666;
	border-bottom:dotted;
	padding-bottom:5;
	padding-top:8;
}

#link-options ul {
	margin-top:20;
	margin-left:-20;
}

#link-options ul li {
	list-style-type:none;
	margin-top:10px;
	margin-bottom:2px;
	color:#999;
}

#link-options ul li a:hover {
	list-style-type:none;
	text-decoration:underline;
	margin-top:5;
	color:#003;
}

#main-menu {
	float:left;
}

#note h2 {
	float:left;
	margin-top:150;
	margin-left:250;
	word-spacing:2px;
	text-transform:uppercase;
	color:#000;
}

#logo h1, #logo p {
	margin: 0;
	padding: 0;
	letter-spacing: -1px;
	font-size:3.8em;
}

#sidebar {
	float: right;
	position:relative;
	width: 450px;
	margin-top:130;
	padding: 20px 0px;
	color: #787878;
}

#sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#sidebar li {
	margin: 0;
	padding: 0;
}

#sidebar a {
	border: none;
	color: #A19D9A;
}

#sidebar a:hover {
	text-decoration: underline;
	color: #8A8A8A;
}

/* Footer */

#footer-wrapper {
	width:100%;
	height:40px;
	margin-top:2;
}

#footer {
	height: 30px;
	margin: 0 auto;
	padding: 0px 0 15px 0;
	background: #D8D8D8;
	border-top: 1px solid #EBE8DF;
	font-family: Arial, Helvetica, sans-serif;
}

#footer p center {
	margin: 0;
	padding-top: 20px;
	line-height: normal;
	font-size: 9px;
	text-transform: uppercase;
	text-align: center;
	color: #333;
	margin-left:400;
}
